<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ferreteria Las Dos Tuercas</title>
    @Styles.Render("~/Content/Site -login.css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/Site -login.css" rel="stylesheet" />

    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>
<body class="bodyblack">

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Guastoni</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
  
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("scripts", required: false)
</body>
</html>
